.App {
}

.App button {
    margin: 5px;
}

.readme {
    margin-bottom: 10px;
}

.identifier {
    font-weight: bold;
}

.synopsis {
    font-style: italic;
}

.description {
    margin: 5px 0;
}

.publication {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid gray;
}

.title {
    font-weight: bold;
    font-style: italic;
    padding: 5px 0;
}

.contributors {
    padding: 5px 0;
}

.citation {
    padding: 5px 0;
}

.doi {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
